!!!
%html
	%head
		%title= "Pablo Merino"
		%link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
		%link{:href => '/centerer.css', :rel => 'stylesheet', :type => 'text/css'}
	%body
		.wrap
			.contain
				.content
					=yield
