.wrap {
	width: 100%;
	height: 100%;
	display: table;
	.contain {
		text-align: center;
		vertical-align: middle;
		display: table-cell;
		.content {
			width: 350px;
			display: inline-block;
			position: relative;
			-webkit-animation: in 0.65s 0.15s both linear;
			-moz-animation: in 0.65s 0.15s both linear;
			-ms-animation: in 0.65s 0.15s both linear;
			-o-animation: in 0.65s 0.15s both linear;
			animation: in 0.65s 0.15s both linear;
			margin-top:21%;
		}
	}
}